


.header-block{

   display: flex;
  


   @media screen and (min-width:481px) and (max-width:768px){

      padding-top: 32px;
     
   }
  

}


 
.navigation{
   display: flex;


   @media screen and (min-width:481px) and (max-width:768px){

      margin-left: 85px;
   }
  
 
}









	.wrapper-mobile-menu{
	         
    @media screen and (min-width:320px) and (max-width:480px) {
      position: fixed;
      background-color: #ffffff;
      top:0;
      left:0;
      right: 0;
      width: 100vw;
      height: 100vh;
      padding: 48px 34px;
      z-index: 999;
      transform: translateX(100%);


      &.is-open{
         transform: translateX(0%);
      }
   
   } 
   @media screen and (min-width:481px) {
      display: flex;
     
   }
 
      
    
   }


 

   .menu-btn{
      @media screen and (min-width:320px) and (max-width:480px) {
      display: inline-block;
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      }
      @media screen and (min-width:481px) {
         display: none;
      }
    }

   .menu-btn-close {
      @media screen and (min-width:320px) and (max-width:480px) {
       display: block;
       width: 40px;
       height: 40px;
       position: absolute;
       top:10px;
       right: 10px;
       border: none;
       background: #ffffff;
       fill: $ThirdColorPrimary;
   
   
   
       &:hover{
   
         
         fill: $PrimaryColor;
        }
      
       &:focus{
      
      
         fill: $PrimaryColor;
       }
      }
     @media screen and (min-width:481px) {
      display: none;
     } 
   }

  
	
 







.nav-list {
   
   
   
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 40px;
   line-height:1.17;
   letter-spacing: 0.02em;
   
   @media screen and (min-width:320px) and (max-width:480px){
      display: block;
      
      
   }


   @media screen and (min-width:481px) and (max-width:768px) {
      display: flex;
     
      margin-right: 96px;
      font-size: 14px;
      line-height: 1.14;
      padding-top: 9px;
      
   }
   



   @media screen and (min-width:769px){
      
      display: flex;
      font-size: 14px;
      line-height: 1.14;
      padding-top:37px ;
      padding-bottom:30px ;
     
   }

  
 
  


   .nav-list__item:not(:last-child){
   
      @media screen and (min-width:769px) {
      margin-right: 50px;
  }


}

}

.nav-list__item{

   color: #212121;
   position: relative;
   @media screen and (min-width:320px) and (max-width:480px){
      margin-top: 35px;
      
   }

   @media screen and (min-width:481px) and (max-width:768px){
      display: flex;
   
      
      max-width: 283px;  // делаем резиновым
      width: 100%;
      padding: 0 15px;
      margin: 0 auto
       
   }

  


}

.nav-link{

 color: $ThirdColorPrimary;


    &:hover{

      color: $PrimaryColor;
    }


    &:focus{

      color: $PrimaryColor;
    }


}





 .nav-link--current{

   color: $PrimaryColor;
 }


 .nav-link--current{
   color: $PrimaryColor;
   @media screen and (min-width:769px) {
     &:after{
       content: ' ';
   width:100%;
   height: 4px;
   background-color: $PrimaryColor;
   border-radius: 3px;
   position:absolute;
   top: 48px;
   left: 0;
   
   opacity: 1;
   }  
   }

}